.Person {
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    box-sizing: border-box;
    width: 80%; /* hmm, guess width IS important ALONG with box-sizing for padding|border properties */
    text-align: center;
}